---
import { Icon } from "astro-icon/components";

const { color, title, desc, tecno, image, links } = Astro.props;
---

<div
  class="flex flex-col rounded-lg w-full xl:w-[calc(50%-16px)] bg-surface0/10 backdrop-blur-sm backdrop-brightness-150"
>
  <div class="">
    <img src={image} class="w-full h-full object-center rounded-t-lg" />
  </div>
  <div
    class="border-b-4 flex flex-col h-[340px] justify-between p-4 rounded-b-lg"
    style={`border-color: var(--ctp-${color});`}
  >
    <h4 class="text-3xl xl:text-2xl font-semibold">{title}</h4>
    <div class="flex gap-2">
      {
        tecno.map((a: string) => (
          <p class="px-2 text-lg py-1 rounded-md w-fit flex items-center gap-2">
            <Icon name={a} />
            {a}
          </p>
        ))
      }
    </div>
    <p class="text-subtext text-xl font-light">
      {desc}
    </p>
    <div class="flex flex-col gap-2">
      <div class="flex gap-4 text-3xl">
        <a href={links[0]}>
          <Icon
            name="github"
            class={"hover:scale-125 duration-300 text-" + color}
          />
        </a>
        <a href={links[1]}>
          <Icon
            name="link"
            class={"hover:scale-125 duration-300 text-" + color}
          />
        </a>
      </div>
    </div>
  </div>
</div>
