---
import { Icon } from "astro-icon/components";

const { color, title, desc, tecno, image, links } = Astro.props;
---

<div
  class="flex flex-col lg:w-[440px] lg:h-[560px] rounded-lg w-screen bg-surface0/10 backdrop-blur-sm backdrop-brightness-150"
>
  <div class="lg:h-[280px] lg:w-[440px]">
    <img src={image} class="w-full h-full object-center rounded-t-lg" />
  </div>
  <div
    class="border-b-4 flex flex-col justify-between gap-2 p-4 rounded-b-lg lg:h-[280px] lg:w-[440px]"
    style={`border-color: var(--ctp-${color});`}
  >
    <h4 class="text-xl font-semibold">{title}</h4>
    <div class="flex gap-2">
      {
        tecno.map((a: string) => (
          <p class="px-2 text-xs py-1 rounded-md w-fit flex items-center gap-2">
            <Icon name={a} />
            {a}
          </p>
        ))
      }
    </div>
    <p class="text-subtext font-extralight">
      {desc}
    </p>
    <div class="flex flex-col gap-2">
      <div class="flex gap-4 text-2xl">
        <a href={links[0]}>
          <Icon
            name="github"
            class={"hover:scale-125 duration-300 text-" + color}
          />
        </a>
        <a href={links[1]}>
          <Icon
            name="link"
            class={"hover:scale-125 duration-300 text-" + color}
          />
        </a>
      </div>
    </div>
  </div>
</div>
